$widthSite: 1140px;
$backBody:#FFFFFF;
$backHead:#222222;
$colorHead: #E8E8E8;
$backgroundBanner: #F1E4E6;
$colorBasket: #F16D7F;
$colortextBanner: #F16D7F;
$backgMenu: #FFFFFF;
$colorMenu:#000000;
$colortextMenu:#F16D7F;
$colortextCatatlog:#F16D7F;
$colorfeatured: #222222;
