$widthSite: 1140px;
$backTotal:#FFFFFF;
$colorContent: #222222;
$backgroundSite:#222222;

// стили для шапки
$colorHeader: #E8E8E8;
$gapNavLeft: 41px;
$gapNavRight: 33px;
$colorfooltext: #F16D7F;

// стили для баннера
$backBanner: #F1E4E6;


// стили для меню
$boxMenuActiv: 6px 4px 35px rgba(0, 0, 0, 0.21);
$gapMenuActiv: 20px;
$colorMenuHead: #000000;
$colorMenuList: #6F6E6E;
$gapMenuList: 11px;

// стили для категории
$gapCategory: 30px;
$backgrCategory: rgba(33, 22, 22, 0.7);
$colorText: #FFFFFF;

// стили для продукта
$colorProductWeek: #9F9F9F;
$gapProduct: 30px;
$backgroundCard: #F8F8F8;
$colorContentName: #000000;
$colorContentDescript: #5D5D5D;
$borderBtm: 1px solid #FF6A6A;
$colorBtmBot: #F26376;
$colorModified: #FFFFFF;

// стили для информация
$backgroundInform: #222224;
$colorInform: #FBFBFB;
$gapIform: 30px;

// стили для подписка
$colorSubscript: #222224;
$backgroundText: #E1E1E1;

// стили для подвала
$colorFooterBernd: #FBFBFB;
$colorSocial: #000;
$backSocial: #fff;
$colorSocialModified: #fff;
$backSocialModified: #f16d7f;