@import "vars";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

html {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  scroll-behavior: smooth;
  background: $backTotal;
  font-family: "Lato", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: $widthSite;
  margin: 0 auto;
}

@import "header";

.banner {
  margin-bottom: 65px;
  display: flex;
  align-items: center;
  background: $backBanner;
  width: 100%;

  &__img {
    width: 50%;
  }

  &__content {
    padding-left: 64px;

    & h1 h2 {
      color: $colorContent;
    }

    &-title {
      font-weight: 900;
      font-size: 48px;
      line-height: 58px;
    }

    &-heading {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
    }
  }

  &__info {
    border-left: $borderInfo solid $colorfooltext;
    padding-left: 19px;
  }
}

.content{
  flex: 1;
}

.hiden {
  display: none;
}

.menu-active {
  padding: 32px;
  padding-left: 33px;
  position: absolute;
  top: 74px;
  right: 0;
  background: $backTotal;
  box-shadow: $boxMenuActiv;
  margin-bottom: 24px;

  &__all {
    display: flex;
    flex-direction: column;
    gap: $gapMenuActiv;
  }
}

.menu-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: $colorMenuHead;
}

.menu-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $colorfooltext;
  margin-bottom: 12px;
}

.menu-list {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: $gapMenuList;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  & a {
    color: $colorMenuList;
  }
}

.colortext {
  color: $colorfooltext;
}

.category {
  margin-bottom: 96px;
  display: flex;
  flex-wrap: wrap;
  gap: $gapCategory;

  &__catalogs {
    flex: 1 1 calc(33.333% - 20px);
    @include centerColumn();
    min-height: 260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  &__catalog-1 {
    background-image: url(./img/middleBlock1.webp);
  }

  &__catalog-2 {
    background-image: url(./img/middleBlock2.webp);
  }

  &__catalog-3 {
    background-image: url(./img/middleBlock3.webp);
  }

  &__catalog-4 {
    min-height: 180px;
    background-image: url(./img/middleBlock4.webp);
  }

  &__catalog-darkening {
    background: $backgrCategory;
    width: 100%;
    height: 100%;
    @include centerflex();
  }

  &__catalog__darkening-4 {
    background: $backgrCategory;
    width: 100%;
    height: 100%;
    @include centerflex();
  }

  &__catalog-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $colorText;
  }

  &__catalog-colortext {
    color: $colorfooltext;
    font-size: 24px;
  }
}

.products {
  margin-bottom: 60px;

  &__launch {
    text-align: center;
    font-weight: 400;

    &-featured {
      margin-bottom: 6px;
      font-size: 30px;
      line-height: 36px;
      color: $colorContent;
    }

    &-week {
      font-size: 14px;
      line-height: 17px;
      color: $colorProdWeek;
      margin-bottom: 48px;
    }
  }
}

.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: $gapProduct;
  margin-bottom: 48px;

  &__card {
    background: $backCard;

    &-image {
      position: relative;
    }

    &-bg {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(58, 56, 56, 0.86);
      opacity: 0;
      transition: opacity 0.3s ease;
      @include centerflex();

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
      }

      & button {
        @include centerflex();
        gap: 4px;
      }
    }

    &-image:hover &-bg {
      opacity: 1;
    }
  }

  &__add {
    width: 139px;
    height: 44px;
    background: none;
    color: $colorText;
    border: 1px solid $colorText;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.3s ease;
    text-align: center;
  }

  &__content {
    padding-left: 16px;
    padding-top: 24px;
    padding-bottom: 24px;

    &-name {
      margin-bottom: 13px;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: $colorContName;
    }

    &-description {
      margin-bottom: 16px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $colorContDesc;
    }

    &-price {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $colorfooltext;
    }
  }

  &__btm {
    display: flex;
    justify-content: center;
    margin-bottom: 95px;

    &-bot {
      padding: 15px 39px 14px 39px;
      border: $borderBtm;
      display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      background: none;
      color: $colorBtmBot;
      cursor: pointer;
      transition: all 0.3s;
    }

    &-bot:hover {
      background-color: $colorBtmBot;
      color: $colorModified;
    }
  }
}

.info{
  background: $bgInform;
}

.information { 
  padding: 104px 230px;
  display: flex;
  justify-content: center;
  gap: $gapIform;
  

  &__detailed {
    @include columntext();
    color: $colorInform;

    &-icon {
      margin-bottom: 26px;
    }

    &-middle {
      margin-bottom: 19px;
    }

    & h3 {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 16px;
    }

    & p {
      width: 360px;
      height: 34px;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: $colorInform;
    }
  }
}

@import "footer";

@media (min-width: 767px) and (max-width: 1025px) {
  .container {
    max-width: 736px;
  }

  .navigation {
    padding: 18px 32px;
  }

  .banner__content {
    padding-left: 39px;

    &-title {
      font-size: 44px;
      line-height: 53px;
    }

    &-heading {
      font-size: 24px;
      line-height: 29px;
    }
  }

  .category {
    gap: 19px;

    &__catalogs {
      min-height: 167px;
    }

    &__catalog-4 {
      min-height: 116px;
    }
  }

  .product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 33px;
  }

  .information {
    flex-direction: column;
    align-items: center;
    gap: 48px;

    &__detailed-icon {
      margin-bottom: 28px;
    }

    &__detailed-middle {
      margin-bottom: 19px;
    }
  }

  .subscription {
    max-height: 612px;
    &__bg {
      padding-top: 64px;
      padding-bottom: 140px;
      flex-direction: column;
      align-items: center;
      gap: 48px;
    }
  }
  
  .subscribe {
    gap: 27px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {

  .container {
    max-width: 344px;
  }
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hide {
    display: none;
  }

  .navigation {
    padding: 18px 16px;
  }

  .banner {
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 363px;

    .banner__info {
      white-space: nowrap;
    }

    &__content {
      padding-left: 0;
      max-width: 263px;

      &-title {
        font-weight: 900;
        font-size: 38px;
        line-height: 46px;
      }

      &-heading {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  .category {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;

    &__catalogs {
      min-width: 320px;
      min-height: 247px;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__catalog-4 {
      background-position: center;
      background-size: cover;
    }

    &__catalog-darkening {
      min-height: 247px;
    }

    &__catalog-4 {
      min-height: 111px;
    }

    &__catalog__darkening-4 {
      min-height: 111px;
    }
  }

  .product {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 41px;

    &__card {
      min-width: 320px;
      height: 560px;
    }
  }
  .info{
    max-width: 375px;
  }

  .information {
    padding: 48px 13px 81px;
    flex-direction: column;
    align-items: center;
    gap: 46px;

    &__detailed {
      min-width: 320px;
      margin-bottom: 27px;

      &-middle p {
        min-width: 320px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
      }

      &-icon {
        margin-bottom: 28px;
      }

      &-middle {
        margin-bottom: 19px;
      }
    }
  }

  .subscription {
    max-width: 610px;
    max-height: 550px;

    &__bg {
      padding-top: 50px;
      padding-bottom: 110px;
      flex-direction: column;
      align-items: center;
      gap: 73px;
    }

    &__content {
      min-width: 320px;
      height: 194px;
    }

    &__text {
      min-width: 320px;
      font-size: 18px;
      line-height: 22px;
    }
  }

  .crop {
    width: 375px;
    height: auto;
    overflow: hidden;
  }

  .subscribe {
    min-width: 320px;
    height: 123px;
    gap: 22px;

    &_sb {
      width: 271px;

      &-text {
        font-size: 24px;
        line-height: 153%;
      }

      &-content {
        font-size: 14px;
        line-height: 153%;
      }
    }

    &__btn {
      min-width: 310px;
      height: 47px;

      &-text {
        min-width: 233px;
      }

      &-btn {
        min-width: 96px;
      }
    }
  }

  .footer {
    max-width: 375px;
    max-height: 143px;

    &__container {
      flex-direction: column-reverse;
      gap: 40px;
    }
  }
}
