@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

html {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  scroll-behavior: smooth;
  background: #FFFFFF;
  font-family: "Lato", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background: #222222;
  color: #E8E8E8;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 18px 32px;
}
.navigation__left {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 41px;
}
.navigation__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
}
.navigation__left button, .navigation__right button {
  background: none;
  border: none;
}
.navigation__search, .navigation__choice, .navigation__profile, .navigation__basket {
  cursor: pointer;
}
.navigation__choice {
  position: relative;
}
.navigation__basket {
  position: relative;
}
.navigation__basket::after {
  content: url(/img/5.webp);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  background-color: #F16D7F;
  border-radius: 25px 25px 25px 25px;
  top: -8px;
  right: -10px;
}

@media (min-width: 767px) and (max-width: 1025px) {
  .container {
    max-width: 736px;
  }
  .navigation {
    padding: 18px 32px;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .container {
    max-width: 344px;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hide {
    display: none;
  }
  .navigation {
    padding: 18px 16px;
  }
}
.hiden {
  display: none;
}

.menu-active {
  padding: 32px;
  padding-left: 33px;
  position: absolute;
  top: 74px;
  right: 0;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  margin-bottom: 24px;
}
.menu-active__all {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-heading {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.menu-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  margin-bottom: 12px;
}

.menu-list {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.menu-list a {
  color: #6F6E6E;
}

.breadclumb {
  background: #f8f3f4;
}

.arrivas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
}
.arrivas__new {
  padding: 59px 0 60px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}
.arrivas__nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}
.arrivas__nav-link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.arrivas__nav-link:hover {
  color: #F16D7F;
}
.arrivas__nav-colorful {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}
.arrivas__nav li:not(:last-child)::after {
  content: "/";
  margin: 0 10px;
  color: #636363;
}

@media (min-width: 767px) and (max-width: 1025px) {
  .container {
    max-width: 736px;
  }
}
.product {
  padding-top: 96px;
  margin-bottom: 128px;
  display: flex;
  justify-content: space-between;
}
.product .option {
  padding-top: 32px;
}
.product .colorful {
  color: #F16D7F;
}
.product .product-card {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.product .card {
  width: 652px;
  height: 306px;
  box-sizing: border-box;
  display: flex;
  border: 1px solid #eaeaea;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}
.product .card__image {
  width: 262px;
  height: 306px;
  -o-object-fit: cover;
     object-fit: cover;
}
.product .card__content {
  padding: 22px 97px 62px 31px;
  color: #FFFFFF;
  position: relative;
}
.product .card__content-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
}
.product .card__content-description {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.product .card__content .quan input {
  width: 40px;
  height: 25px;
  margin-left: 24px;
  text-align: end;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
}
.product .card__content::after {
  content: url(/img/cross.svg);
  position: absolute;
  top: 30px;
  right: -40px;
  cursor: pointer;
}
.product .option {
  width: 652px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.product .option__clear {
  width: 235px;
  background: #FFFFFF;
  border: 1px solid #4a4a4a;
  cursor: pointer;
}
.product .option__continue {
  width: 225px;
  background: #FFFFFF;
  border: 1px solid #4a4a4a;
  cursor: pointer;
}
.product .product-shipping {
  display: flex;
  flex-direction: column;
  gap: 74px;
}
.product .shipping-adr {
  width: 360px;
  height: 272px;
  box-sizing: border-box;
}
.product .shipping-adr form fieldset {
  display: flex;
  flex-direction: column;
}
.product .shipping-adr .ship {
  margin-bottom: 20px;
}
.product .shipping-adr .ship-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.product .shipping-adr fieldset {
  border: none;
}
.product .shipping-adr .input {
  width: 360px;
  height: 45px;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #4a4a4a;
  padding-left: 17px;
}
.product .shipping-adr .get {
  padding: 11px 15px;
  background: #FFFFFF;
  border: 1px solid #4a4a4a;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  cursor: pointer;
}
.product .checkout {
  width: 360px;
  height: 214px;
  box-sizing: border-box;
  padding: 39px 34px 42px 44px;
  display: flex;
  flex-direction: column;
  align-items: end;
  background: #f5f3f3;
}
.product .checkout__sub {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  margin-bottom: 12px;
}
.product .checkout__grand {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 21px;
}
.product .checkout__line {
  width: 275px;
  height: 1px;
  padding-right: 9px;
  background: #e2e2e2;
  margin-bottom: 17px;
}
.product .checkout__button {
  padding-right: 9px;
}
.product .checkout__btm {
  width: 273px;
  height: 50px;
  background: #F16D7F;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.product .checkout .checkout__btm:hover {
  background-color: #FFFFFF;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.subscription {
  max-height: 448px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  color: #222224;
  background-image: url(/img/subscribe_image.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.subscription__img {
  background: rgba(244, 244, 244, 0.7);
  width: 100%;
  height: 100%;
}
.subscription__bg {
  padding-top: 97px;
  padding-bottom: 156px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscription__content {
  width: 359px;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscription__foto {
  margin-bottom: 30px;
}
.subscription__text {
  width: 359px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;
}
.subscription__text-different {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.subscribe {
  min-width: 557px;
  height: 142px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
}
.subscribe__sb-text {
  font-weight: 700;
  font-size: 24px;
}
.subscribe__sb-text-content {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
.subscribe__btn {
  min-width: 356px;
  height: 49px;
  display: flex;
}
.subscribe__btn-text {
  min-width: 256px;
  padding: 7px 64px 6px 22px;
  border: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  background: #E1E1E1;
  color: #222224;
  opacity: 0.67;
  border-radius: 25px 0 0 25px;
}
.subscribe__btn-inp {
  width: 170px;
  height: 36px;
  border: none;
  background: #E1E1E1;
}
.subscribe__btn-btn {
  padding: 17px 20px 15px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  display: flex;
  align-items: center;
  background: #F16D7F;
  color: #FFFFFF;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}
.subscribe__btn-btn:hover {
  background-color: #FFFFFF;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.footer {
  max-height: 79px;
  margin: 0 auto;
  background: #222222;
}
.footer__container {
  padding: 23px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__brend {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.footer__social-list {
  display: flex;
  gap: 8px;
}
.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: #000;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}
.footer__social-link:hover {
  color: #fff;
  background-color: #F16D7F;
}

@media (min-width: 767px) and (max-width: 1025px) {
  .container {
    max-width: 736px;
  }
  .subscription {
    max-height: 612px;
  }
  .subscription__bg {
    padding-top: 64px;
    padding-bottom: 140px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
  .subscribe {
    gap: 27px;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .container {
    max-width: 344px;
  }
  .subscription {
    max-width: 610px;
    max-height: 550px;
  }
  .subscription__bg {
    padding-top: 50px;
    padding-bottom: 110px;
    flex-direction: column;
    align-items: center;
    gap: 73px;
  }
  .subscription__content {
    min-width: 320px;
    height: 194px;
  }
  .subscription__text {
    min-width: 320px;
    font-size: 18px;
    line-height: 22px;
  }
  .crop {
    width: 375px;
    height: auto;
    overflow: hidden;
  }
  .subscribe {
    min-width: 320px;
    height: 123px;
    gap: 22px;
  }
  .subscribe_sb {
    width: 271px;
  }
  .subscribe_sb-text {
    font-size: 24px;
    line-height: 153%;
  }
  .subscribe_sb-content {
    font-size: 14px;
    line-height: 153%;
  }
  .subscribe__btn {
    min-width: 310px;
    height: 47px;
  }
  .subscribe__btn-text {
    min-width: 233px;
  }
  .subscribe__btn-btn {
    min-width: 96px;
  }
  .footer {
    max-width: 375px;
    max-height: 143px;
  }
  .footer__container {
    flex-direction: column-reverse;
    gap: 40px;
  }
}
@media (min-width: 767px) and (max-width: 1025px) {
  .container {
    max-width: 736px;
  }
  .product {
    flex-direction: column;
    gap: 64px;
  }
  .product .card__content::after {
    content: url(/img/cross.svg);
    position: absolute;
    top: 30px;
    right: -130px;
    cursor: pointer;
  }
  .product .option {
    justify-content: flex-end;
    gap: 48px;
  }
  .product .product-shipping {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .card {
    min-width: 734px;
  }
  .checkout {
    padding-top: 45px;
    position: relative;
    top: 40px;
  }
}/*# sourceMappingURL=cart.css.map */