@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
@import "common";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  scroll-behavior: smooth;
  background: $backTotal;
  font-family: "Lato", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: $widthSite;
  margin: 0 auto;
}

@import "../components/header";
@import "../components/menu";
@import "../components/breadclumb";

.product {
  padding-top: 96px;
  margin-bottom: 128px;
  display: flex;
  justify-content: space-between;
  &-cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .option {
    padding-top: 32px;
  }
  .colorful {
    color: $colorful;
  }
  .card {
    width: 652px;
    height: 306px;
    box-sizing: border-box;
    display: flex;
    border: 1px solid #eaeaea;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
    position: relative;
    img{
      height: 306px;
    }
    &__content {
      padding: 22px 97px 62px 31px;
      color: $backTotal;
      &-name {
        @include txt("Lato", normal, 400, 24px, 29px);
        color: $colorContent;
        margin-bottom: 42px;
      }
      &-description {
        @include txt("Lato", normal, 400, 22px, 26px);
        color: #575757;
        display: flex;
        flex-direction: column;
        gap: 6px;
      }
      input  {
        width: 40px;
        height: 25px;
        margin-left: 24px;
        text-align: center;
        @include txt("Lato", normal, 400, 18px, 22px);
        color: #656565;
      }
    }
    .delete {
      position: absolute;
      top: 28px;
      right: 22px;
      cursor: pointer;
      background: none;
      border: none;
    }
  }

  .option {
    width: 652px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    &__clear {
      width: 235px;
      background: $backTotal;
      border: 1px solid $colForm;
      cursor: pointer;
    }
    &__continue {
      width: 225px;
      background: $backTotal;
      border: 1px solid $colForm;
      cursor: pointer;
    }
  }

  .product-shipping {
    display: flex;
    flex-direction: column;
    gap: 74px;
  }

  .shipping-adr {
    width: 360px;
    height: 272px;
    box-sizing: border-box;
    form fieldset {
      display: flex;
      flex-direction: column;
    }
    .ship {
      margin-bottom: 20px;
      &-text {
        @include txt("Lato", normal, 400, 16px, 19px);
        color: $colorContent;
      }
    }
    fieldset {
      border: none;
    }
    .input {
      width: 360px;
      height: 45px;
      box-sizing: border-box;
      background: $backTotal;
      border: 1px solid $colForm;
      padding-left: 17px;
    }
    .get {
      padding: 11px 15px;
      background: $backTotal;
      border: 1px solid $colForm;
      @include txt("Lato", normal, 400, 11px, 13px);
      color: $colForm;
      cursor: pointer;
    }
  }
  .checkout {
    width: 360px;
    height: 214px;
    box-sizing: border-box;
    padding: 39px 34px 42px 44px;
    display: flex;
    flex-direction: column;
    align-items: end;
    background: #f5f3f3;
    &__sub {
      @include txt("Lato", normal, 400, 11px, 13px);
      color: $colForm;
      margin-bottom: 12px;
    }
    &__grand {
      @include txt("Lato", normal, 400, 16px, 19px);
      color: $colorContent;
      margin-bottom: 21px;
    }
    &__line {
      width: 275px;
      height: 1px;
      padding-right: 9px;
      background: #e2e2e2;
      margin-bottom: 17px;
    }
    &__button {
      padding-right: 8px;
    }
    &__btm {
      width: 273px;
      height: 50px;
      background: $colorful;
      @include txt("Lato", normal, 400, 16px, 19px);
      color: $colorText;
      border: none;
      cursor: pointer;
      transition: all 0.3s;
    }
    .checkout__btm:hover {
      background-color: $backTotal;
      color: $colorful;
      border: 1px solid $colorful;
    }
  }
}

@import "../components/footer";

@media (min-width: 768px) and (max-width: 1025px) {
  .container {
    max-width: 736px;
  }
  .product {
    flex-direction: column;
    gap: 64px;
    .card {
      min-width: 734px;
    }
    .option {
      justify-content: flex-end;
      gap: 48px;
    }
    .product-shipping {
      display: flex;
      flex-direction: row;
      gap: 15px;
    }
  }

  .checkout {
    padding-top: 45px;
    position: relative;
    top: 40px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 360px;
  }
  .product {
    padding-top: 39px;
    margin-bottom: 96px;
    flex-direction: column;
    gap: 48px;
    .card {
      width: 358px;
      height: 188px;
      &__image {
        width: 100%;
        height: 188px;
      }
      .stretch-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      &__content {
        padding: 14px 53px 37px 17px;
        &-name {
          width: 144px;
          height: 35px;
          font-size: 1.6rem;
          line-height: 19px;
          margin-bottom: 25px;
        }
        &-description {
          width: 119px;
          height: 86px;
          font-size: 1.4rem;
          line-height: 17px;
          gap: 4px;
        }
        .quan input {
          width: 24px;
          height: 15px;
          font-size: 1rem;
        }
      }
    }
    .option {
      padding-top: 0;
      width: 358px;
      height: 33px;
      justify-content: space-between;
      button {
        width: 175px;
        font-size: 1.2rem;
      }
    }
    .product-shipping {
      display: flex;
      flex-direction: column;
      gap: 28px;
      .shipping-adr {
        height: 272px;
      }
    }
  }
}
