@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
@import "common";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

html {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  scroll-behavior: smooth;
  background: $backTotal;
  font-family: "Lato", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: $widthSite;
  margin: 0 auto;
}

@import "../components/header";

@import "../components/menu";

.breadclumb {
  background: #f8f3f4;
}
.arrivas {
  @include spacebeet();
  width: 1600px;
  height: 148px;

  &__new {
    @include txt('Lato', normal,  400, 24px, 29px);
    color: $colorful;
  }

  &__nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;

    &-link { 
      @include txt('Lato', normal,  300, 14px, 17px);
      color: $colArivas;
    }

    &-colorful {
      @include txt('Lato', normal,  700, 14px, 17px);
      color: $colorful;
    }

    & li:not(:last-child)::after {
      content: "/";
      margin: 0 10px;
      color: $colArivas;
    }
  }
}
.slides {
  background: $backSlid;
  border: 1px solid $bordSlid;
  display: flex;
  justify-content:space-between;
  align-items: center;

  &__transition-lf {
    @include centerflex();
    width: 47px;
    height: 47px;
    background: rgba(42, 42, 42, 0.15);
    cursor: pointer;
  }
  &__image {
    width: 1600px;
    height: 777px;
    background: url(/img/image7.webp);
    background-position: center;
    background-repeat: no-repeat;
  }
  &__transition-rg {
    @include centerflex();
    width: 47px;
    height: 47px;
    background: rgba(42, 42, 42, 0.15);
    cursor: pointer;
  }
}

.options {
  position: absolute;
  left: -99999999999px;
  visibility: hidden;
}

%choice {
  display: flex;
  gap: 5px;
}
.collect {
  transform: translateY(-65px);
  background: $backTotal;
  border: 1px solid $bordSlid;
  @include columntext();
  margin-bottom: 63px;
  &__gender {
    padding: 64px;
    margin-bottom: 12px;
    @include txt('Lato', normal,  400, 14px, 17px);
    color: $colorful;
  }
  &__dash {
    width: 63px;
    height: 3px;
    border: 2px solid $colorful;
    background: $colorful;
    margin-bottom: 12px;
  }
  &__advert {
    margin-bottom: 49px;
    @include txt('Lato', normal,  300, 18px, 22px);
    color: $colAdvert;
  }
  &__descript {
    margin-bottom: 32px;
    @include txt('Lato', normal,  400, 14px, 17px);
    text-align: center;
    color: $coldesc;
  }
  &__price {
    margin-bottom: 64px;
    @include txt('Lato', normal,  400, 24px, 29px);
    color: $colorful;
  }
  &__line {
    width: 642px;
    height: 1px;
    background: $bordSlid;
    border: 1px solid $bordSlid;
    margin-bottom: 64px;
  }
  &__choice {
    display: flex;
    justify-content: space-around;
    gap: 23px;
    @include txt('Lato', normal,  400, 14px, 17px);
    color: $colorList;
    margin-bottom: 49px;

    &-color {
      @extend %choice;
    }
    &-size {
      @extend %choice;
    }
    &-quantity {
      @extend %choice;
    }
  }

  &__add button {
    padding: 15px 57px 9px 24px;
    display: flex;
    align-items: center;
    gap: 23px;
    border: 1px solid $colorful;
    @include txt('Lato', normal,  400, 16px, 19px);
    background: none;
    color: $colorful;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 64px;
  }

  .collect__add-btm:hover {
    background-color: $colorful;
    color: $backTotal; 
  }
  .collect__add-btm:hover .collect__add-catr{
    fill: #fff;
  }
}
 
.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $gapProduct;
  margin-bottom: 128px;

  &__card {
    background: $backCard;

    &-image {
      position: relative;
    }

    &-bg {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(58, 56, 56, 0.86);
      opacity: 0;
      transition: opacity 0.3s ease;
      @include centerflex();

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
      }

      & button {
        @include centerflex();
        gap: 4px;
      }
    }

    &-image:hover &-bg {
      opacity: 1;
    }
  }

  &__add {
    width: 139px;
    height: 44px;
    background: none;
    color: $colorText;
    border: 1px solid $colorText;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s;
    text-align: center;
  }

  &__content {
    padding-left: 16px;
    padding-top: 24px;
    padding-bottom: 24px;

    &-name {
      margin-bottom: 13px;
      @include txt('Lato', normal,  400, 13px, 16px);
      color: $colorContName;
    }

    &-description {
      margin-bottom: 16px;
      @include txt('Lato', normal,  400, 14px, 17px);
      color: $colorContDesc;
    }

    &-price {
      @include txt('Lato', normal,  400, 16px, 19px);
      color: $colorful;
    }
  }
}
@import "../components/footer";
