@mixin txt($ff, $fs, $fw, $fz, $lh) {
  font-family: $ff;
  font-style: $fs;
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
}

// миксины для главной
@mixin centerflex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centerFlexend() {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@mixin centerColumn() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin columntext() {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

// миксины для страницы product
@mixin spacebeet() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

