$widthSite: 1140px;
$backTotal: #FFFFFF;
$colorContent: #222222;
$bgSite: #222222;
$colorful: #F16D7F;

// стили для шапки
$colorHeader: #E8E8E8;
$gapNavLeft: 41px;
$gapNavRight: 33px;

// стили для баннера
$backBanner: #F1E4E6;
$borderInfo: 19px;

// стили для меню
$boxMenuActiv: 6px 4px 35px rgba(0, 0, 0, 0.21);
$gapMenuActiv: 20px;
$colorMenuHead: #000000;
$colorMenuList: #6F6E6E;
$gapMenuList: 11px;

// стили для категории
$gapCategory: 30px;
$backgrCategory: rgba(33, 22, 22, 0.7);
$colorText: #FFFFFF;

// стили для продукта
$colorProdWeek: #9F9F9F;
$gapProduct: 30px;
$backCard: #F8F8F8;
$colorContName: #000000;
$colorContDesc: #5D5D5D;


// стили для информация
$bgInform: #222224;
$colorInform: #FBFBFB;
$gapInform: 30px;

// стили для подписка
$colSubscript: #222224;
$bgText: #E1E1E1;

// стили для подвала
$colFootBernd: #FBFBFB;
$colSocial: #000;
$backSocial: #fff;
$colSocModif: #fff;

// стили для страници product
$colArivas: #636363;
$backSlid: #F7F7F7;
$bordSlid: 1px solid #EAEAEA;