
.header {
    background: $bgSite;
    color: $colorHeader;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    padding: 18px 32px;
  
    &__left {
      @include centerFlexend();
      gap: $gapNavLeft;
    }
  
    &__right {
      @include centerflex();
      gap: $gapNavRight;
    }
  
    &__left button,
    &__right button {
      background: none;
      border: none;
    }
  
    &__search,
    &__choice,
    &__profile,
    &__basket {
      cursor: pointer;
    }
  
    &__choice {
      position: relative;
    }
  
    &__basket {
      position: relative;
    }
  
    &__basket::after {
      content: url(/img/5.webp);
      position: absolute;
      @include centerColumn();
      width: 19px;
      height: 19px;
      background-color: $colorful;
      border-radius: 25px 25px 25px 25px;
      top: -8px;
      right: -10px;
    }
  }
  @media (min-width: 768px) and (max-width: 1025px) {
    .container {
      max-width: 736px;
    }
  
    .navigation {
      padding: 18px 32px;
    }
  }
  @media (min-width: 320px) and (max-width: 767px) {
    .container {
      max-width: 344px;
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .hide {
      display: none;
    }
  
    .navigation {
      padding: 18px 16px;
    }
  }