.info {
    background: $bgInform;
  }
  
  .information {
    padding: 104px 230px;
    display: flex;
    justify-content: center;
    gap: $gapInform;
  
    &__detailed {
      @include columntext();
      color: $colorInform;
  
      &-icon {
        margin-bottom: 26px;
      }
  
      &-middle {
        margin-bottom: 19px;
      }
  
      & h3 {
        @include txt('Lato', normal,  400, 20px, 24px);
        margin-bottom: 16px;
      }
  
      & p {
        width: 360px;
        height: 34px;
        @include txt('Lato', normal,  300, 14px, 17px);
        color: $colorInform;
      }
    }
  }
  
  @media (min-width: 767px) and (max-width: 1025px) {
    .container {
      max-width: 736px;
    }
    .information {
      flex-direction: column;
      align-items: center;
      gap: 48px;
      &__detailed-icon {
        margin-bottom: 28px;
      }
      &__detailed-middle {
        margin-bottom: 19px;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 768px) {
    .container {
      max-width: 344px;
    }
    .info {
      max-width: 375px;
    }
  
    .information {
      padding: 48px 13px 81px;
      flex-direction: column;
      align-items: center;
      gap: 46px;
      &__detailed {
        min-width: 320px;
        margin-bottom: 27px;
        &-middle p {
          min-width: 320px;
          @include txt('Lato', normal,  300, 14px, 17px);
        }
        &-icon {
          margin-bottom: 28px;
        }
        &-middle {
          margin-bottom: 19px;
        }
      }
    }
  }