@import "../pages/common";

.hiden {
    display: none;
  }
  
  .menu-active {
    padding: 32px;
    padding-left: 33px;
    position: absolute;
    top: 74px;
    right: 0;
    background: $backTotal;
    box-shadow: $boxMenuActiv;
    margin-bottom: 24px;
  
    &__all {
      display: flex;
      flex-direction: column;
      gap: $gapMenuActiv;
    }
  }
  
  .menu-heading {
    @include txt('Lato', normal,  700, 14px, 17px);
    color: $colorMenuHead;
  }
  
  .menu-text {
    @include txt('Lato', normal,  400, 14px, 17px);
    color: $colorful;
    margin-bottom: 12px;
  }
  
  .menu-list {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: $gapMenuList;
    @include txt('Lato', normal,  400, 14px, 17px);
  
    & a {
      color: $colorList;
    }
  }